In [1]:
# Importing the libraries
import numpy as np
import pandas as pd

In [2]:
# Importing the data
adult_df = pd.read_csv(r'C:\Users\SONU KUMAR JHA\Documents\R\Datasets\adult.csv\adult.csv',engine='python')

In [3]:
adult_df.head()

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,income
0,90,?,77053,HS-grad,9,Widowed,?,Not-in-family,White,Female,0,4356,40,United-States,<=50K
1,82,Private,132870,HS-grad,9,Widowed,Exec-managerial,Not-in-family,White,Female,0,4356,18,United-States,<=50K
2,66,?,186061,Some-college,10,Widowed,?,Unmarried,Black,Female,0,4356,40,United-States,<=50K
3,54,Private,140359,7th-8th,4,Divorced,Machine-op-inspct,Unmarried,White,Female,0,3900,40,United-States,<=50K
4,41,Private,264663,Some-college,10,Separated,Prof-specialty,Own-child,White,Female,0,3900,40,United-States,<=50K

In [4]:
adult_df.shape

(32561, 15)

### Preprocessing the data

In [5]:
adult_df.isnull().sum()

age               0
workclass         0
fnlwgt            0
education         0
education.num     0
marital.status    0
occupation        0
relationship      0
race              0
sex               0
capital.gain      0
capital.loss      0
hours.per.week    0
native.country    0
income            0
dtype: int64

In [6]:
adult_df = adult_df.replace(['?'],np.nan)

In [7]:
adult_df.isnull().sum().sort_values(ascending= False)

occupation        1843
workclass         1836
native.country     583
income               0
hours.per.week       0
capital.loss         0
capital.gain         0
sex                  0
race                 0
relationship         0
marital.status       0
education.num        0
education            0
fnlwgt               0
age                  0
dtype: int64

In [8]:
# Create a copy of the dataframe
# adult_df_rev = pd.DataFrame.copy(adult)
adult_df_rev = adult_df.copy()

In [9]:
adult_df_rev.describe()

,age,fnlwgt,education.num,capital.gain,capital.loss,hours.per.week
count,32561.000000,3.256100e+04,32561.000000,32561.000000,32561.000000,32561.000000
mean,38.581647,1.897784e+05,10.080679,1077.648844,87.303830,40.437456
std,13.640433,1.055500e+05,2.572720,7385.292085,402.960219,12.347429
min,17.000000,1.228500e+04,1.000000,0.000000,0.000000,1.000000
25%,28.000000,1.178270e+05,9.000000,0.000000,0.000000,40.000000
50%,37.000000,1.783560e+05,10.000000,0.000000,0.000000,40.000000
75%,48.000000,2.370510e+05,12.000000,0.000000,0.000000,45.000000
max,90.000000,1.484705e+06,16.000000,99999.000000,4356.000000,99.000000

In [10]:
adult_df_rev.describe(exclude=np.number)

,workclass,education,marital.status,occupation,relationship,race,sex,native.country,income
count,30725,32561,32561,30718,32561,32561,32561,31978,32561
unique,8,16,7,14,6,5,2,41,2
top,Private,HS-grad,Married-civ-spouse,Prof-specialty,Husband,White,Male,United-States,<=50K
freq,22696,10501,14976,4140,13193,27816,21790,29170,24720

In [11]:
# replae the missing values with values in the top tow of each column
for value in ['workclass','occupation','native.country']:
    adult_df_rev[value].fillna(adult_df_rev[value].mode()[0],inplace=True)
    
# for x in adult_df_rev.columns[:]:
#     if adult_df_rev[x].dtype =='object':
#         adult_df_rev[x].fillna(adult_df_rev[x],mode()[0],inplace=True)

In [12]:
adult_df_rev.workclass.value_counts()

Private             24532
Self-emp-not-inc     2541
Local-gov            2093
State-gov            1298
Self-emp-inc         1116
Federal-gov           960
Without-pay            14
Never-worked            7
Name: workclass, dtype: int64

In [13]:
from sklearn.preprocessing import LabelEncoder
colname = []
for x in adult_df_rev.columns:
    if adult_df_rev[x].dtype == 'object':
        colname.append(x)
colname

['workclass',
 'education',
 'marital.status',
 'occupation',
 'relationship',
 'race',
 'sex',
 'native.country',
 'income']

In [46]:
# Label Encoding 
from sklearn import preprocessing
le = {}
for x in colname:
    le[x] = preprocessing.LabelEncoder()
for x in colname:
    adult_df_rev[x] = le[x].fit_transform(adult_df_rev[x])

In [47]:
X = adult_df_rev.copy()
y = X.pop('income')

In [48]:
X.head()

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country
0,90,3,77053,11,9,6,9,1,4,0,0,4356,40,38
1,82,3,132870,11,9,6,3,1,4,0,0,4356,18,38
2,66,3,186061,15,10,6,9,4,2,0,0,4356,40,38
3,54,3,140359,5,4,0,6,4,4,0,0,3900,40,38
4,41,3,264663,15,10,5,9,3,4,0,0,3900,40,38

In [49]:
# Scalling the dataset
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X = scaler.fit_transform(X)

In [50]:
# np.set_printoptions(threshold=np,inf)

In [56]:
y = y.astype(int)

In [61]:
# Splitting the data into training and test set
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=.3,random_state=10)

In [62]:
# Creating the model 
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression()
classifier.fit(X_train,y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [64]:
# Prediction of validation set
y_pred = classifier.predict(X_test)
#print(list(zip(y_test,y_pred)))

In [68]:
from sklearn.metrics import confusion_matrix,accuracy_score,classification_report
cm = confusion_matrix(y_test,y_pred)
print(cm)
print(classification_report(y_test,y_pred))
print(accuracy_score(y_test,y_pred))

[[6999  418]
 [1319 1033]]
             precision    recall  f1-score   support

          0       0.84      0.94      0.89      7417
          1       0.71      0.44      0.54      2352

avg / total       0.81      0.82      0.81      9769

0.8221926502200839