In [35]:
# Importing the libraries
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [36]:
# Importing the data
data = pd.read_csv(r'C:\Users\SONU KUMAR JHA\Documents\R\Datasets\Disease\indian_liver_patient.csv')

In [37]:
data.head()

,Age,Gender,Total_Bilirubin,Direct_Bilirubin,Alkaline_Phosphotase,Alamine_Aminotransferase,Aspartate_Aminotransferase,Total_Protiens,Albumin,Albumin_and_Globulin_Ratio,Dataset
0,65,Female,0.7,0.1,187,16,18,6.8,3.3,0.90,1
1,62,Male,10.9,5.5,699,64,100,7.5,3.2,0.74,1
2,62,Male,7.3,4.1,490,60,68,7.0,3.3,0.89,1
3,58,Male,1.0,0.4,182,14,20,6.8,3.4,1.00,1
4,72,Male,3.9,2.0,195,27,59,7.3,2.4,0.40,1

In [38]:
data = data.rename(columns={'Dataset':'disease'})

In [39]:
data.Gender = data.Gender.astype('category')
data.Gender = data.Gender.cat.codes

In [40]:
data.head()

,Age,Gender,Total_Bilirubin,Direct_Bilirubin,Alkaline_Phosphotase,Alamine_Aminotransferase,Aspartate_Aminotransferase,Total_Protiens,Albumin,Albumin_and_Globulin_Ratio,disease
0,65,0,0.7,0.1,187,16,18,6.8,3.3,0.90,1
1,62,1,10.9,5.5,699,64,100,7.5,3.2,0.74,1
2,62,1,7.3,4.1,490,60,68,7.0,3.3,0.89,1
3,58,1,1.0,0.4,182,14,20,6.8,3.4,1.00,1
4,72,1,3.9,2.0,195,27,59,7.3,2.4,0.40,1

In [63]:
#data.isnull().sum()
#data.drop(['Albumin_and_Globulin_Ratio'],axis=1)
data = data.dropna()

In [65]:
data.isnull().sum()

Age                           0
Gender                        0
Total_Bilirubin               0
Direct_Bilirubin              0
Alkaline_Phosphotase          0
Alamine_Aminotransferase      0
Aspartate_Aminotransferase    0
Total_Protiens                0
Albumin                       0
Albumin_and_Globulin_Ratio    0
disease                       0
dtype: int64

In [66]:
# Independent and dependent variable
y = data['disease']
X = data.drop(['disease'],axis=1)

In [67]:
# Splitting the dataset into training and test set
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=.3)

In [76]:
# Fitting the model
from sklearn.ensemble import RandomForestClassifier
m = RandomForestClassifier(n_jobs=-1,oob_score=True,max_features=.5,min_samples_leaf=3,max_depth=3,n_estimators=20)
m.fit(X_train,y_train)
m.score(X_train,y_train),m.score(X_test,y_test),m.oob_score_

(0.762962962962963, 0.6896551724137931, 0.725925925925926)