In [1]:
# Importing the libraries
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
# Importing the dataset 
credit = pd.read_csv(r'C:\Users\SONU KUMAR JHA\Documents\R\credit\Credit_Risk_Train_data.csv')

In [4]:
credit.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [5]:
credit.dtypes

Loan_ID               object
Gender                object
Married               object
Dependents            object
Education             object
Self_Employed         object
ApplicantIncome        int64
CoapplicantIncome    float64
LoanAmount           float64
Loan_Amount_Term     float64
Credit_History       float64
Property_Area         object
Loan_Status           object
dtype: object

In [8]:
# String to categorical 
for n,c in credit.items():
    if c.dtype=='object':
        credit[n] = c.astype('category').cat.as_ordered()
credit.dtypes

Loan_ID              category
Gender               category
Married              category
Dependents           category
Education            category
Self_Employed        category
ApplicantIncome         int64
CoapplicantIncome     float64
LoanAmount            float64
Loan_Amount_Term      float64
Credit_History        float64
Property_Area        category
Loan_Status          category
dtype: object

In [9]:
credit.Education.cat.categories

Index(['Graduate', 'Not Graduate'], dtype='object')

In [15]:
credit.Loan_Status.value_counts()

Y    422
N    192
Name: Loan_Status, dtype: int64

In [16]:
from sklearn.ensemble import RandomForestClassifier
m = RandomForestClassifier()
m.fit(credit.drop(['Loan_Status']),credit['Loan_Status'])

KeyError: "['Loan_Status'] not found in axis"

In [ ]:
m.